<form class="form-horizontal" role="form" ng-submit="getTweets(user)" ng-value="user.nick" ng-model="user.nick">
    <div class="form-group">
        <label for="title" class="col-sm-2 control-label">User nick: </label>

        <div class="col-sm-10">
            <input type="text" class="form-control" id="title" placeholder="Write nick.." ng-model="user.nick">
        </div>
    </div>
</form>

<h2>All Tweets for {{user.nick}} <a class="btn btn-primary pull-right" href="#/users"><i
        class="icon-plus-sign icon-white"></i> Users</a></h2>

<table class="table table-hover">
    <tr>
        <th>
            #
        </th>
        <th>
            Id
        </th>
        <th>
            Text
        </th>
        <th>
            Media
        </th>
    </tr>
    <tr ng-repeat="tweet in tweets">
        <td>{{$index+1}}</td>
        <td>
            {{tweet.tweet.id}}
        </td>
        <td>
            {{tweet.tweet.text}}
        </td>
        <td>
            <li ng-repeat="media in tweet.mediaPaths">
            <!--{{tweet.mediaPaths}}-->
                <ul>{{media}}</ul>
            </li>
        </td>
    </tr>
</table>