<h2>All users <a class="btn btn-primary pull-right" href="#/tweets"><i
        class="icon-plus-sign icon-white"></i> Tweets</a></h2>

<table class="table table-hover">
    <tr>
        <th>
            #
        </th>
        <th>
            Name
        </th>
    </tr>
    <tr ng-repeat="user in users">
        <td>{{$index+1}}</td>
        <td>
            {{user}}
        </td>
    </tr>
</table>